@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap");
.prices__headline, .promo__headline {
  font-family: "Moyenage", sans-serif; }

html {
  font-family: "Montserrat", sans-serif; }

.prices__headline, .promo__headline {
  font-family: "Moyenage", sans-serif; }

html {
  font-family: "Montserrat", sans-serif; }

* {
  margin: 0;
  padding: 0; }

html {
  font-size: 20px;
  text-transform: none;
  font-weight: 400;
  line-height: 24.38px;
  font-style: normal;
  color: #f1e4c4; }

.prices__headline, .promo__headline {
  font-family: "Moyenage", sans-serif; }

html {
  font-family: "Montserrat", sans-serif; }

.button-main {
  width: 195px;
  height: 53px;
  border-radius: 0;
  border: 0;
  background-color: #0ff5e3;
  color: #0c0c0c;
  text-transform: none;
  font-size: 24px;
  line-height: 29px;
  font-weight: 600;
  cursor: pointer; }

.prices__headline, .promo__headline {
  font-family: "Moyenage", sans-serif; }

html {
  font-family: "Montserrat", sans-serif; }

.prices__headline, .promo__headline {
  font-family: "Moyenage", sans-serif; }

html {
  font-family: "Montserrat", sans-serif; }

.prices__headline, .promo__headline {
  font-family: "Moyenage", sans-serif; }

html {
  font-family: "Montserrat", sans-serif; }

.prices__headline, .promo__headline {
  font-family: "Moyenage", sans-serif; }

html {
  font-family: "Montserrat", sans-serif; }

.prices__headline, .promo__headline {
  font-family: "Moyenage", sans-serif; }

html {
  font-family: "Montserrat", sans-serif; }

html {
  background-color: #131313; }

.prices {
  background-image: url(../img/Background_prices.png);
  background-size: cover;
  height: 609px;
  background-position: 0% 35%; }

.prices__content {
  margin: 0 200px 0 200px;
  text-align: center; }

.prices__headline {
  text-align: center;
  transform: translateY(-780%); }

.price__block {
  margin-bottom: 40px; }

.price__line {
  display: flex;
  justify-content: space-between;
  font-size: 24px;
  text-transform: none;
  font-weight: 600;
  line-height: 29px;
  font-style: normal;
  margin-bottom: 7px; }

.prices__button {
  margin-top: 80px; }

.prices__headline, .promo__headline {
  font-family: "Moyenage", sans-serif; }

html {
  font-family: "Montserrat", sans-serif; }

.prices__headline, .promo__headline {
  font-family: "Moyenage", sans-serif; }

html {
  font-family: "Montserrat", sans-serif; }

.promo {
  background-image: url(../img/Background_promo.png);
  background-size: cover;
  height: 620px;
  background-position: 0% 20%; }

.promo__content {
  margin-top: 120px;
  text-align: center; }

.promo__headline {
  font-size: 96px;
  text-transform: none;
  font-weight: 400;
  line-height: 96px;
  font-style: normal;
  color: #f1e4c4; }

.promo__headline-additional {
  font-size: 24px;
  text-transform: none;
  font-weight: 600;
  line-height: 29px;
  font-style: normal;
  color: #f1e4c4;
  margin-bottom: 120px; }

.prices__headline, .promo__headline {
  font-family: "Moyenage", sans-serif; }

html {
  font-family: "Montserrat", sans-serif; }

.prices__headline, .promo__headline {
  font-family: "Moyenage", sans-serif; }

html {
  font-family: "Montserrat", sans-serif; }

.header {
  background-color: #131313;
  height: 80px; }

.hamburger::before, .hamburger::after {
  content: "";
  position: relative;
  background-color: #a40e04;
  width: 40px;
  height: 4px;
  border-radius: 0px;
  display: inline-block; }

.hamburger {
  margin-top: 20px;
  background-color: #a40e04;
  width: 40px;
  height: 4px;
  border-radius: 0px;
  display: inline-block;
  position: relative; }
  .hamburger::before {
    top: 100%;
    left: 0; }
  .hamburger::after {
    bottom: 0;
    left: 0; }

.prices__headline, .promo__headline {
  font-family: "Moyenage", sans-serif; }

html {
  font-family: "Montserrat", sans-serif; }

section {
  background-color: #1e1e1e;
  padding: 120px 0; }

.wrapper {
  max-width: 1160px;
  margin: auto; }

.header__wrapper {
  display: flex;
  justify-content: space-between; }

.promo__wrapper {
  display: flex;
  justify-content: flex-end; }

@font-face {
  font-family: "Moyenage";
  src: url(../fonts/Moyenage.ttf);
  font-weight: 400;
  font-style: normal; }
@font-face {
  font-family: "Montserrat";
  src: url(../fonts/Montserrat-VariableFont_wght.ttf);
  font-weight: 600;
  font-style: normal; }
@font-face {
  font-family: "Montserrat";
  src: url(../fonts/Montserrat-VariableFont_wght.ttf);
  font-weight: 400;
  font-style: normal; }

/*# sourceMappingURL=style.css.map */
