@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap");
.button-main:link:hover,
.button-main:visited:hover {
  transition: all 0.3s ease-in-out; }

h3, .footer__branding, .promo__headline {
  font-family: "Moyenage", sans-serif; }

html {
  font-family: "Montserrat", sans-serif; }

.button-main:link:hover,
.button-main:visited:hover {
  transition: all 0.3s ease-in-out; }

h3, .footer__branding, .promo__headline {
  font-family: "Moyenage", sans-serif; }

html {
  font-family: "Montserrat", sans-serif; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%;
  text-transform: none;
  font-weight: 400;
  line-height: 1.5;
  font-style: normal;
  color: #f3ecdb; }

h3 {
  text-align: center;
  margin-bottom: 4rem;
  font-size: 4rem; }

p {
  font-size: 2rem; }

.button-main:link:hover,
.button-main:visited:hover {
  transition: all 0.3s ease-in-out; }

h3, .footer__branding, .promo__headline {
  font-family: "Moyenage", sans-serif; }

html {
  font-family: "Montserrat", sans-serif; }

.button-main:link,
.button-main:visited {
  display: inline-block;
  text-decoration: none;
  padding: 1.2rem 2.4rem;
  background-color: #0ff5e3;
  cursor: pointer;
  font-size: 2.4rem;
  font-weight: 600;
  color: #0c0c0c; }
  .button-main:link:hover,
  .button-main:visited:hover {
    background: transparent;
    box-shadow: inset 0 0 0 2px #0ff5e3;
    color: #0ff5e3; }

.button_secondary:link,
.button_secondary:visited {
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
  background-color: #a40e04;
  font-size: 1.6rem;
  line-height: 2rem;
  font-weight: 600;
  color: #fff;
  width: 26rem;
  height: 6rem;
  padding-top: 2rem; }

.workshop-learn-more__button:link,
.workshop-learn-more__button:visited {
  background-color: transparent;
  box-shadow: inset 0 0 0 1px #a40e04;
  color: #a40e04; }

.button-main:link:hover,
.button-main:visited:hover {
  transition: all 0.3s ease-in-out; }

h3, .footer__branding, .promo__headline {
  font-family: "Moyenage", sans-serif; }

html {
  font-family: "Montserrat", sans-serif; }

.header__navigation {
  display: none; }

.button-main:link:hover,
.button-main:visited:hover {
  transition: all 0.3s ease-in-out; }

h3, .footer__branding, .promo__headline {
  font-family: "Moyenage", sans-serif; }

html {
  font-family: "Montserrat", sans-serif; }

.description {
  padding-top: 12rem; }

.button-main:link:hover,
.button-main:visited:hover {
  transition: all 0.3s ease-in-out; }

h3, .footer__branding, .promo__headline {
  font-family: "Moyenage", sans-serif; }

html {
  font-family: "Montserrat", sans-serif; }

.footer {
  margin-bottom: 8rem;
  padding: 0 3.2rem; }

.footer__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  text-align: center;
  color: #a40e04; }
  .footer__wrapper > * {
    flex-basis: 30%; }

.footer__column-left {
  text-align: start; }

.footer__column-center {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  text-align: start; }
  .footer__column-center > * {
    flex-basis: 20%; }

.footer__column-right {
  display: flex;
  justify-content: end; }

.footer__nav {
  list-style: none;
  font-size: 1.6rem;
  text-transform: none;
  font-weight: 600;
  line-height: 2rem;
  font-style: normal;
  margin-bottom: 0.4rem;
  cursor: pointer; }

.footer__branding {
  font-size: 3.2rem;
  text-transform: none;
  font-weight: 400;
  line-height: 3.2rem;
  font-style: normal;
  margin-bottom: 2.4rem; }

.footer__phone {
  font-size: 2rem;
  text-transform: none;
  font-weight: 600;
  line-height: 2.5rem;
  font-style: normal;
  border: 2px solid #a40e04;
  border-radius: 9px;
  width: 220px;
  padding: 3px; }

.button-main:link:hover,
.button-main:visited:hover {
  transition: all 0.3s ease-in-out; }

h3, .footer__branding, .promo__headline {
  font-family: "Moyenage", sans-serif; }

html {
  font-family: "Montserrat", sans-serif; }

.gallery__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 0 auto;
  gap: 5px; }

.gallery__image {
  overflow: hidden;
  width: 100%;
  height: 100%;
  margin: 5px;
  box-shadow: 0px 9px 23px rgba(0, 0, 0, 0.25); }

.button-main:link:hover,
.button-main:visited:hover {
  transition: all 0.3s ease-in-out; }

h3, .footer__branding, .promo__headline {
  font-family: "Moyenage", sans-serif; }

html {
  font-family: "Montserrat", sans-serif; }

html {
  background-color: #131313; }

.prices {
  padding: 0; }

.prices__wrapper {
  max-width: 100% !important;
  position: relative;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/Background_prices.png);
  background-size: cover;
  height: 60.9rem;
  background-position: 0% 35%;
  padding: 0 3.2rem; }

.prices__content {
  margin: 0 auto;
  padding: 8rem 0;
  max-width: 71rem;
  text-align: center; }

.price__block {
  margin-bottom: 4rem; }

.price__line {
  display: flex;
  justify-content: space-between;
  font-size: 2.4rem;
  text-transform: none;
  font-weight: 600;
  line-height: 2.9rem;
  font-style: normal;
  margin-bottom: 0.7rem; }

.prices__button {
  margin-top: 4rem; }

.button-main:link:hover,
.button-main:visited:hover {
  transition: all 0.3s ease-in-out; }

h3, .footer__branding, .promo__headline {
  font-family: "Moyenage", sans-serif; }

html {
  font-family: "Montserrat", sans-serif; }

.products__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 5px;
  margin: 0 auto;
  width: 106rem; }

.product__card {
  width: 100%;
  background-color: #fff;
  text-align: center;
  padding-top: 2rem;
  margin-bottom: 0.5rem;
  cursor: pointer; }

.product__card-rectangle {
  width: 26rem;
  height: 52.5rem; }

.product__card-square {
  width: 26rem;
  height: 26rem; }

.product__title {
  margin-top: 3.1rem;
  font-size: 1.4rem;
  text-transform: none;
  font-weight: 400;
  line-height: 1.7rem;
  font-style: normal;
  color: #131313; }

.product__type {
  font-size: 2rem;
  text-transform: none;
  font-weight: 600;
  line-height: 2.4rem;
  font-style: normal;
  color: #131313; }

.product__price {
  font-size: 2rem;
  text-transform: none;
  font-weight: 600;
  line-height: 2.5rem;
  font-style: normal;
  color: #a40e04; }

.button-main:link:hover,
.button-main:visited:hover {
  transition: all 0.3s ease-in-out; }

h3, .footer__branding, .promo__headline {
  font-family: "Moyenage", sans-serif; }

html {
  font-family: "Montserrat", sans-serif; }

.promo {
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url(../img/Background_promo.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: calc(100vh - 8rem);
  background-position: 0% 20%;
  position: relative; }

.promo__wrapper {
  display: flex;
  justify-content: flex-end; }

.promo__content {
  position: absolute;
  left: 70%;
  top: 50%;
  transform: translate(-70%, -50%);
  text-align: center; }

.promo__headline {
  font-size: 9.6rem;
  text-transform: none;
  font-weight: 400;
  line-height: 9.6rem;
  font-style: normal;
  color: #f3ecdb; }

.promo__headline-additional {
  font-size: 2.4rem;
  text-transform: none;
  font-weight: 600;
  line-height: 2.9rem;
  font-style: normal;
  color: #f3ecdb;
  margin-bottom: 12rem; }

.button-main:link:hover,
.button-main:visited:hover {
  transition: all 0.3s ease-in-out; }

h3, .footer__branding, .promo__headline {
  font-family: "Moyenage", sans-serif; }

html {
  font-family: "Montserrat", sans-serif; }

.workshops__wrapper {
  display: flex;
  flex-direction: row;
  gap: 5rem; }

.workshops__headline {
  margin-bottom: 16.9rem; }

.workshop__cards-container {
  width: 35rem;
  height: 71.3rem;
  text-align: center;
  background-color: #1c1c1c;
  box-shadow: 0px 9px 23px rgba(0, 0, 0, 0.25); }

.workshop__card {
  display: flex;
  flex-direction: column;
  margin: auto; }

.workshop__card-imagebox {
  position: relative;
  margin-bottom: 50%; }

.workshop__card-image {
  width: 26rem;
  height: 26rem;
  position: absolute;
  bottom: 50%;
  left: 50%;
  transform: translate(-50%, 50%); }

.workshop__type {
  color: #f1e4c4; }

.workshop__description {
  font-size: 1.6rem;
  text-transform: none;
  font-weight: 400;
  line-height: 1.95rem;
  font-style: normal;
  padding: 2.4rem 4.5rem;
  text-align: start;
  color: #f1e4c4; }

.button-main:link:hover,
.button-main:visited:hover {
  transition: all 0.3s ease-in-out; }

h3, .footer__branding, .promo__headline {
  font-family: "Moyenage", sans-serif; }

html {
  font-family: "Montserrat", sans-serif; }

.header {
  background-color: #131313;
  height: 8rem; }

.header__wrapper {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center; }

.hamburger::before, .hamburger::after {
  content: "";
  position: relative;
  background-color: #a40e04;
  width: 40px;
  height: 4px;
  border-radius: 0px;
  display: inline-block; }

.hamburger {
  cursor: pointer;
  background-color: #a40e04;
  width: 40px;
  height: 4px;
  border-radius: 0px;
  display: inline-block;
  position: absolute;
  right: 0;
  bottom: 50%;
  transform: translate(0, -250%); }
  .hamburger::before {
    top: 100%;
    left: 0; }
  .hamburger::after {
    bottom: 0;
    left: 0; }

.button-main:link:hover,
.button-main:visited:hover {
  transition: all 0.3s ease-in-out; }

h3, .footer__branding, .promo__headline {
  font-family: "Moyenage", sans-serif; }

html {
  font-family: "Montserrat", sans-serif; }

section {
  background-color: #131313;
  padding: 0 3.2rem 12rem 3.2rem; }

.wrapper {
  max-width: 1160px;
  margin: auto; }

.button-main:link:hover,
.button-main:visited:hover {
  transition: all 0.3s ease-in-out; }

h3, .footer__branding, .promo__headline {
  font-family: "Moyenage", sans-serif; }

html {
  font-family: "Montserrat", sans-serif; }

.margin-bottom-sm {
  margin-bottom: 1.6rem !important; }

@font-face {
  font-family: "Moyenage";
  src: url(../fonts/Moyenage.ttf);
  font-weight: 400;
  font-style: normal; }
@font-face {
  font-family: "Montserrat";
  src: url(../fonts/Montserrat-VariableFont_wght.ttf);
  font-weight: 600;
  font-style: normal; }
@font-face {
  font-family: "Montserrat";
  src: url(../fonts/Montserrat-VariableFont_wght.ttf);
  font-weight: 400;
  font-style: normal; }

/*# sourceMappingURL=style.css.map */
