@import "abstract/constants";
@import "abstract/placeholders";
@import "abstract/mixin";

section {
  background-color: $color-background-additional;
  padding: 120px 0;
}

.wrapper {
  max-width: $content-width;
  margin: auto;
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
}

.promo__wrapper {
  display: flex;
  justify-content: flex-end;
}
