@import "abstract/constants";
@import "abstract/placeholders";
@import "abstract/mixin";

section {
  background-color: $color-background;
  padding: 0 3.2rem 12rem 3.2rem;
}

.wrapper {
  max-width: $content-width;
  margin: auto;
}
