// Color palette
$color-background: #131313;
$color-background-additional: #1e1e1e;
$color-font: #f3ecdb;
$color-font-additional: #0c0c0c;
$color-accent: #a40e04;
$color-accent-additional: #0ff5e3;

// Width
$content-width: 1160px;
$desktop-width: 1600px;
$desktop-small-width: 1000px;
$tablet-width: 999px;
$mobile-width: 639px;
$mobile-small-width: 414px;
