@mixin font($size, $weight, $transform, $height, $style: normal) {
  font-size: $size;
  text-transform: $transform;
  font-weight: $weight;
  line-height: $height;
  font-style: $style;
}

@mixin button(
  $width,
  $height,
  $radius,
  $border,
  $color_background,
  $color,
  $transform,
  $size,
  $line_height,
  $weight,
  $cursor: pointer
) {
  width: $width;
  height: $height;
  border-radius: $radius;
  border: $border;
  background-color: $color_background;
  color: $color;
  text-transform: $transform;
  font-size: $size;
  line-height: $line_height;
  font-weight: $weight;
  cursor: $cursor;
}

@mixin image($width, $height, $radius) {
  width: $width;
  height: $height;
  border-radius: $radius;
}

@mixin position($position, $right, $top, $left, $bottom) {
  position: $position;
  right: $right;
  top: $top;
  left: $left;
  bottom: $bottom;
}

@mixin flex($width) {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  > * {
    flex-basis: $width;
  }
}

@mixin grid($width) {
  display: grid;
  justify-content: space-between;
  > * {
    grid-template-columns: repeat(auto-fit, minmax($width, 1fr));
  }
}

@mixin media-laptop {
  @media (max-width: $content-width) {
    @content;
  }
}

@mixin media-desktop {
  @media (max-width: $desktop-width) {
    @content;
  }
}

@mixin media-desktop-small {
  @media (max-width: $desktop-small-width) {
    @content;
  }
}

@mixin media-tablet {
  @media (max-width: $tablet-width) {
    @content;
  }
}

@mixin media-mobile {
  @media (max-width: $mobile-width) {
    @content;
  }
}

@mixin media-mobile-small {
  @media (max-width: $mobile-small-width) {
    @content;
  }
}
