@import "abstract/constants";
@import "abstract/placeholders";
@import "abstract/mixin";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  @include font(
    $size: 62.5%,
    $weight: 400,
    $transform: none,
    $height: 1.5,
    $style: normal
  );
  @extend %font-additional;
  color: $color-font;
}

h3 {
  @extend %font;
  text-align: center;
  margin-bottom: 4rem;
  font-size: 4rem;
}

p {
  font-size: 2rem;
}
