@import "abstract/constants";
@import "abstract/placeholders";
@import "abstract/mixin";

.footer {
  margin-bottom: 8rem;
  padding: 0 3.2rem;
}

.footer__wrapper {
  @include flex($width: 30%);
  text-align: center;
  color: $color-accent;
}

.footer__column-left {
  text-align: start;
}

.footer__column-center {
  @include flex($width: 20%);
  text-align: start;
}

.footer__column-right {
  display: flex;
  justify-content: end;
}

.footer__nav {
  list-style: none;
  @include font(
    $size: 1.6rem,
    $weight: 600,
    $transform: none,
    $height: 2rem,
    $style: normal
  );
  margin-bottom: 0.4rem;
  cursor: pointer;
}

.footer__branding {
  @extend %font;
  @include font(
    $size: 3.2rem,
    $weight: 400,
    $transform: none,
    $height: 3.2rem,
    $style: normal
  );
  margin-bottom: 2.4rem;
}

.footer__phone {
  @include font(
    $size: 2rem,
    $weight: 600,
    $transform: none,
    $height: 2.5rem,
    $style: normal
  );

  border: 2px solid $color-accent;
  border-radius: 9px;
  width: 220px;
  padding: 3px;
}
