@import "abstract/constants";
@import "abstract/placeholders";
@import "abstract/mixin";

html {
  background-color: $color_background;
}

.prices__wrapper {
  max-width: 100% !important;
  position: relative;
  background-image: url(../img/Background_prices.png);
  background-size: cover;
  height: 709px;
  background-position: 0% 35%;

  // &::before {
  //   content: "";
  //   display: block;
  //   @include position(
  //     $position: absolute,
  //     $right: 0,
  //     $top: 0,
  //     $left: 0,
  //     $bottom: 0
  //   );
  //   width: 100%;
  //   height: 100%;
  //   background-color: rgba(0, 0, 0, 0.4);
  // }
}

.prices__headline {
  margin-bottom: 40px;
}

.prices__content {
  margin: 0px auto;
  padding: 80px 0;
  max-width: 710px;
  text-align: center;
}

.price__block {
  margin-bottom: 40px;
}

.price__line {
  display: flex;
  justify-content: space-between;
  @include font(
    $size: 24px,
    $weight: 600,
    $transform: none,
    $height: 29px,
    $style: normal
  );
  margin-bottom: 7px;
}

.prices__button {
  margin-top: 40px;
}
