@import "abstract/constants";
@import "abstract/placeholders";
@import "abstract/mixin";

html {
  background-color: $color_background;
}

.prices {
  padding: 0;
}

.prices__wrapper {
  max-width: 100% !important;
  position: relative;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../img/Background_prices.png);
  background-size: cover;
  height: 60.9rem;
  background-position: 0% 35%;
  padding: 0 3.2rem;
}

.prices__content {
  margin: 0 auto;
  padding: 8rem 0;
  max-width: 71rem;
  text-align: center;
}

.price__block {
  margin-bottom: 4rem;
}

.price__line {
  display: flex;
  justify-content: space-between;
  @include font(
    $size: 2.4rem,
    $weight: 600,
    $transform: none,
    $height: 2.9rem,
    $style: normal
  );
  margin-bottom: 0.7rem;
}

.prices__button {
  margin-top: 4rem;
}
