@import "abstract/constants";
@import "abstract/placeholders";
@import "abstract/mixin";

.promo {
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),
    url(../img/Background_promo.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  background-position: 0% 20%;
  position: relative;
}

.promo__content {
  position: absolute;
  left: 70%;
  top: 50%;
  transform: translate(-70%, -50%);
  text-align: center;
}

.promo__headline {
  @extend %font;
  @include font(
    $size: 96px,
    $weight: 400,
    $transform: none,
    $height: 96px,
    $style: normal
  );
  color: $color-font;
}

.promo__headline-additional {
  @include font(
    $size: 24px,
    $weight: 600,
    $transform: none,
    $height: 29px,
    $style: normal
  );
  color: $color-font;
  margin-bottom: 120px;
}
