@import "abstract/constants";
@import "abstract/placeholders";
@import "abstract/mixin";

.workshops__wrapper {
  display: flex;
  flex-direction: row;
  gap: 50px;
}

.workshop__card-image {
}

.workshops__headline {
  margin-bottom: 169px;
}

.workshop__cards-container {
  width: 350px;
  height: 713px;
  text-align: center;
  background-color: $color-background-cards;
  box-shadow: 0px 9px 23px rgba(0, 0, 0, 0.25);
}

.workshop__card {
  display: flex;
  flex-direction: column;
  margin: auto;
}

.workshop__card-imagebox {
  position: relative;
  margin-bottom: 50%;
}

.workshop__card-image {
  width: 260px;
  height: 260px;
  position: absolute;
  bottom: 50%;
  left: 50%;
  transform: translate(-50%, 50%);
}

.workshop__type {
  color: $color-font-darker;
}

.workshop__description {
  @include font(
    $size: 16px,
    $weight: 400,
    $transform: none,
    $height: 19.5px,
    $style: normal
  );
  padding: 24px 45px;
  text-align: start;
  color: $color-font-darker;
}
